/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #afafaf;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


/* Container Principal */
.container {
    width: 90%;
    height: 90%;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    max-width: 90%; 
    overflow: hidden;
}

/* Cabeçalho */
.header {
    background-color: #1832EF;
    color: white;
    text-align: center;
    padding: 15px 0;
    border-radius: 8px 8px 0 0;
}

.header h1 {
    font-size: 24px;
    font-weight: bold;
}


/* Conteúdo Principal */
.content {
    display: flex;
    flex: 1;
}

/* Formulário */
.form-container {
    flex: 2;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: stretch; 
    gap: 10px; 
    padding: 20px; 
    
}

/* Ajuste para labels e inputs */
label {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 5px;
}

input, select {
    width: 100%; 
    padding: 5px;
    margin-bottom: 1px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 12px;
}

/* Para inputs somente leitura */
input[readonly] {
    background-color: #e0e0e0;
}

.form-buttons {
    display: flex;
    justify-content: space-between;
}

.btn-salvar, .btn-limpar {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin: 15px;
}

.btn-salvar {
    background-color: #4CAF50;
    color: white;
}

.btn-limpar {
    background-color: #FF4949;
    color: white;
}

.btn-salvar:hover {
    background-color: #45a049;
}

.btn-limpar:hover {
    background-color: #d63333;
}

/* Informações do usuário */
.user-info {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #1832EF;
    border-radius: 10px 8px 8px 10px;
    color: white;
    text-align: center;
    margin: 10px;
    margin-bottom: 20px;
}

.user-image img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid white;
    
}

.user-image {
    position: relative; /* posicionamento  do tooltip */
    transition: transform 0.3s, box-shadow 0.3s;
}

.user-image:hover::after {
    content: attr(data-tooltip);
    position: absolute;
    top: -30px; /*  exibir o tooltip acima */
    left: 50%;
    transform: translateX(-50%);
    background-color: red;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 20px;
    white-space: nowrap;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    z-index: 10;
}

.mini-menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.mini-item {
    width: 70px;
    height: 70px;
    background-color: #111E77;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.mini-item:hover::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: -30px; 
    left: 50%;
    transform: translateX(-50%);
    background-color: #111E77;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    white-space: nowrap;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    z-index: 10;
}

.mini-item img {
    width: 50px;
    height: 50px;
}

.mini-item.disabled {
    background-color: #666;
    pointer-events: none;
    opacity: 0.6;
}

.mini-item:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

body {
    font-family: Arial, sans-serif;
    background-color: #afafaf;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.main-container {
    display: flex;
    width: 90%;
    max-width: 1200px;
    height: 80vh;
    background-color: #f0f0f0;
    border-radius: 10px;
    overflow: hidden;
}

.content, .user-info {
    width: 100%;
    border-radius: 0;
}

.mini-menu {
    grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
}

.header {
    background-color: #1832EF;
    color: white;
    text-align: center;
    padding: 10px 0;
    border-radius: 8px 8px 0 0;
}

.header h1 {
    font-size: 20px;
    font-weight: bold;
}

.search-filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    gap: 8px;
}

.search-filter select, .search-filter input {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-filter .search-button {
    padding: 8px 15px;
    font-size: 14px;
    background-color: #1832EF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.table-container {
    max-height: 400px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
}

table th {
    background-color: #1832EF;
    color: white;
    position: sticky;
    top: 0;
    z-index: 2;
}

table th:first-child, table td:first-child {
    text-align: center;
}

/* Botões de ação */
.action-buttons {
    position: sticky; 
    bottom: 0; 
    background-color: #f0f0f0; 
    padding: 10px;
    z-index: 2; 
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1); 
}

.btn-delete, .btn-cancel {
    padding: 10px 15px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    color: #fff;
}

.btn-delete {
    background-color: #e74c3c; /* Vermelho para excluir */
}

.btn-cancel {
    background-color: #3498db; /* Azul para cancelar */
}

.btn-delete:hover {
    background-color: #c0392b; /* Vermelho mais escuro no hover */
}

.btn-cancel:hover {
    background-color: #2980b9; /* Azul mais escuro no hover */
}


.user-info {
    flex: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #1832EF;
    border-radius: 0 10px 10px 0;
    color: white;
    text-align: center;
}

.user-image img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid white;
}

.user-image {
    position: relative; /*  posicionamento  do tooltip */
    transition: transform 0.3s, box-shadow 0.3s;
}

.user-image:hover::after {
    content: attr(data-tooltip);
    position: absolute;
    top: -30px; /* exibir o tooltip acima */
    left: 50%;
    transform: translateX(-50%);
    background-color: red;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 20px;
    white-space: nowrap;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    z-index: 10;
}



.mini-menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.mini-item {
    width: 80px;
    height: 80px;
    background-color: #111E77;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.mini-item:hover::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #111E77;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    white-space: nowrap;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    z-index: 10;
}

.mini-item img {
    width: 50px;
    height: 50px;
}

.mini-item.disabled {
    background-color: #666;
    pointer-events: none;
    opacity: 0.6;
}

.mini-item:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.btn-sair {
    background-color: #FF4949; /* Cor de fundo vermelha */
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px; /* Arredondamento das bordas */
    border: none; /* Remover bordas padrão */
    text-decoration: none; 
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s; /* Adicionar transição suave */
    align-self: flex-end; 
}

.btn-sair:hover {
    background-color: #a82334; /* Cor de fundo ao passar o mouse (tom mais escuro de vermelho) */
    transform: scale(1.05); /* Leve aumento no tamanho do botão */
}

.btn-sair:active {
    transform: scale(0.95); /* Efeito de pressionar o botão */
}
/* Estilo para o botão "Sair" */
.btn-danger {
    background-color: #dc3545; /* Cor de fundo vermelha */
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    text-decoration: none; /* Remover sublinhado no link */
}

.btn-danger:hover {
    background-color: #c82333; /* Cor do fundo ao passar o mouse (tom mais escuro de vermelho) */
    color: white;
}


.mensagem {
    margin-top: 20px;
    padding: 10px;
    font-size: 16px;
    text-align: center;
    display: none; 
}

.mensagem.sucesso {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.mensagem.erro {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

#mensagem {
    display: none;
}
