<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Gerencial</title>
    <link rel="stylesheet" href="css/menu-gerencia.css">
</head>
<body>
    <div class="container">
        <!-- Cabeçalho -->
        <header class="header">
            <h1>Menu Gerencial</h1>
        </header>

        <!-- Conteúdo Principal -->
        <div class="content">
            <!-- Área dos Menus -->
            <div class="menu-container">
                <div class="menu-item">
                    <a href="/visualizar-relatorio"><img src="imagens/visualizar_relatorios.png" alt="Visualizar Relatórios"></a>
                    <p><strong></strong> Visualizar Relatórios</p>
                </div>
                <div class="menu-item">
                    <a href="/visualizar-relatorios-diarios"><img src="imagens/visualizar_relatorios_diarios.png" alt="Visualizar Envios Diários"></a>
                    <p><strong></strong> Visualizar Envios Diários</p>
                </div>
                <div class="menu-item">
                    <a href="/cadastro-relatorios"><img src="imagens/cadastrar_relatorios.png" alt="Cadastrar Relatórios"></a>
                    <p><strong></strong> Cadastrar Relatórios</p>
                </div>
            </div>

            <!-- Área de Informações do Usuário -->
            <div class="user-info">
                <h2>Bem-vindo</h2>
                <p><strong>Usuário:</strong> <span id="user-name">Carregando...</span></p>
                <p><strong>Mat:</strong> <span id="user-mat">Carregando...</span></p>
                <div class="date-time">
                    <p><strong>Data Atual:</strong> <span id="current-date"></span></p>
                    <p><strong>Hora Atual:</strong> <span id="current-time"></span></p>
                </div>
                <div class="user-image">
                    <img src="imagens/logo-de-usuarios.png" alt="Imagem do Usuário">
                </div>
                <a href="/" class="sair"><button id="logout" class="btn-sair"><strong></strong> Sair</button></a>
            </div>
        </div>
    </div>
</body>
<script src="js/informacoesusuario.js"></script>
<script src="js/dataHoraAtual.js"></script>
<script src="js/controleDeAltenticacao.js"></script>
<script src="js/logout.js"></script>
</html>
