<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Financeiro</title>
    <link rel="stylesheet" href="css/financeiro.css">
</head>
<body>
    <div class="container">
        <!-- Cabeçalho -->
        <header class="header">
            <h1>Menu Financeiro</h1>
        </header>

        <!-- Conteúdo Principal -->
        <div class="content">
            <!-- Área dos Menus -->
            <div class="menu-container">
                <div class="menu-item">
                    <a href="/cadastro-colaboradores"><img src="imagens/lgo-cadastrar-colaboradores.png" alt="Cadastrar Colaboradores"></a>
                    <p><strong></strong> Cadastrar Colaboradores</p>
                </div>
                <div class="menu-item">
                    <a href="/cadastro-lojas"><img src="imagens/cadastrar-loja.png" alt="Cadastrar Loja"></a>
                    <p><strong></strong> Cadastrar Lojas</p>
                </div>
                <div class="menu-item">
                    <a href="/listar-colaboradores"><img src="imagens/listar-colaboradores.png" alt="Listar Colaboradores"></a>
                    <p><strong></strong> Listar Colaboradores</p>
                </div>
                <div class="menu-item">
                    <a href="/listar-lojas"><img src="imagens/listar-lojas.png" alt="Listar Lojas"></a>
                    <p><strong></strong> Listar Lojas</p>
                </div>
                <div class="menu-item">
                    <a href="/editar-colaboradores"><img src="imagens/editar-colaboradores.png" alt="editar_colaboradores"></a>
                    <p><strong></strong> Editar Colaboradores</p>
                </div>
                <div class="menu-item">
                   <a href="/editar-lojas"> <img src="imagens/editar-lojas.png" alt="Editar Lojas"></a>
                    <p><strong></strong> Editar Lojas</p>
                </div>
            </div>

            <!-- Área de Informações do Usuário -->
            <div class="user-info">
                <h2>Bem-vindo</h2>
                <p><strong>Usuário:</strong> <span id="user-name">Carregando...</span></p>
                <p><strong>Mat:</strong> <span id="user-mat">Carregando...</span></p>
                <div class="date-time">
                    <p><strong>Data Atual:</strong> <span id="current-date"></span></p>
                    <p><strong>Hora Atual:</strong> <span id="current-time"></span></p>
                </div>
                <div class="user-image">
                    <img src="imagens/logo-de-usuarios.png" alt="Imagem do Usuário">
                </div>
                <a href="/" class="sair"><button id="logout" class="btn-sair"><strong></strong> Sair</button></a>
            </div>
        </div>
    </div>
    <script src="js/informacoesusuario.js"></script>
    <script src="js/dataHoraAtual.js"></script>
    <script src="js/controleDeAltenticacao.js"></script>
    <script src="js/logout.js"></script>
</body>
    
</body>
</html>
